body{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}

.hero, 
.header,
.footer{
    background-color: #1F2937;
}

.hero{
    padding: 128px;
    display: flex;
}

.hero p{
    color:#E5E7EB;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .image{
    background-color: lightgrey;
    flex: 1;
}

.hero .content{
    flex: 1;
}

ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-content:space-evenly;
    flex: 1;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.header{
    display:flex;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 16px;
    align-items: center;
}

.header-logo,
.cta-heading {
    font-size: 24px;
    color:#F9FAF8;
    flex: 1;
}

.header-links{
    display: flex;
    align-content: right;
    flex: 1;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding: 128px;
}

.author{
    font-style: bold;
    text-align: right;
}

button{
    color: white;
    border: 0;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: none;
    font-weight: 900;
}

.cards{
    padding: 128px;
}

.card-container{
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 64px;
    flex: 1;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    max-width: 200px;
    flex: 1;
}

.information-heading{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.card-image{
    width: 200px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 8px;
}

.card-caption{
    text-align: center;
    padding: 8px;
}

.cta{
    display: flex;
    flex: 1;
    background-color:#3882F6;
    border-radius: 8px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 128px;
    margin-bottom: 128px;
    padding: 64px;
}
/* 
.cta-heading{

} */

.cta button{
    border-color: white;
}

.footer{
    padding: 48px;
    text-align: center;
    color: #E5E7EB;
}